extends layout 

block content 
  h2  #{title}

  p= 'Delete ' + item.name + '?'

  form(method='POST' action='')
    div(class='form-group')
      input(class='form-control' type='hidden' name='itemid' required='true' value=item._id)

    br
    button(type='submit' style='padding: 0px 2px 0px 2px; cursor: pointer;') Delete