doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(id='header')
      div(id='logo')
        a(href='/') MENS CLOTHING WAREHOUSE
      div(id='categories')
        div(class='btn')
          a(href='/inventory/categories') Categories
        div(class='btn add not-first')
          a(href='/inventory/category/create') +
      div(id='items')
        div(class='btn')
          a(href='/inventory/items') items
        div(class='btn add not-first')
          a(href='/inventory/item/create') +
    div(id='main')
      block content
      br
      br
