* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 400px;
  min-height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

label {
  font-weight: 700;
}

input[type='text'] {
  min-width: 140px;
  max-width: 40%;
}

input[type='number'] {
  width: 100px;
}

a {
  flex: 1;
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

#header {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid black;
}

#logo {
  padding: 0px 20px 0px 20px;
  font-size: 16px;
  font-weight: 900;
}

#categories,#items {
  display: flex;
}

.btn {
  padding: 2px;
  display: flex;
  border: 1px solid black;
}

.btn.add {
  width: 24px;
  height: 24px;
  text-align: center;
}

.btn.not-first {
  border-width: 1px 1px 1px 0px;
}

.btn:hover {
  border-width: 1px 2px 2px 1px !important;
}

.not-first:hover {
  border-width: 1px 2px 2px 0px !important;
}

#main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  border: 1px solid black;
}

.display-image {
  max-width: 400px;
  height: auto;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.list-item {
  width: 300px;
  display: flex;
}

.list-header {
  width: 300px;
  display: flex;
}

.list-item div {
  flex: 1;
}

.list-header div {
  padding: 2px;
  flex: 1;
  font-weight: 700;
  text-align: center;
  border: 1px solid black;
}

.crud-btns {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#category-form, #item-form {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#category-selection {
  padding: 4px;
  border: 1px solid black;
}

.category-radio-input {
  display: flex;
  align-items: center;
  gap: 4px;
}

.size-inputs {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-weight: 700;
}
